language: cpp
script: 
  - ./travis.sh
compiler:
  - gcc
install:
- if [ "$CXX" = "g++" ]; then export CXX="g++-4.8" CC="gcc-4.8"; fi
addons:
  apt:
    sources:
    packages:
notifications:
  email: false
sudo: false
